<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# SQL Programming - Subqueries using Select Statements

## 1.0 Connecting to our Database

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

## 1.1 Loading Data from CSV Files

Datasets used in this notebook:


1.   **World Countries**

> ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1XlabneVWhvbmpRUi_Wix2FR5uYAAp-ZY/view?usp=sharing))

2.   **World Cities** 

> ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1R5952m-8hH91uiwDK8dcL9sT2D_PEcuw/view?usp=sharing))

In [ ]:
# Importing Pandas
import pandas as pd

In [ ]:
# Loading our Countries dataset
# 
with open('/content/world_countries.csv','r') as f:
    Countries = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE IF EXISTS Countries;
%sql PERSIST Countries;
%sql SELECT * FROM Countries LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Albania', 2.9, 'no', 'yes'),
 ('Andorra', 0.07, 'no', 'no'),
 ('Austria', 8.57, 'yes', 'no'),
 ('Belarus', 9.48, 'no', 'no'),
 ('Belgium', 11.37, 'yes', 'yes')]

In [ ]:
# Loading our cities dataset 
# 
with open('/content/world_cities.csv','r') as f:
    cities = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE IF EXISTS cities;
%sql PERSIST cities;
%sql SELECT * FROM cities LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Aalborg', 'Denmark', 57.03, 9.92, 7.52),
 ('Aberdeen', 'United Kingdom', 57.17, -2.08, 8.1),
 ('Abisko', 'Sweden', 63.35, 18.83, 0.2),
 ('Adana', 'Turkey', 36.99, 35.32, 18.67),
 ('Albacete', 'Spain', 39.0, -1.87, 12.62)]

## 1.2 Subqueries using the SELECT statement

A subquery is a query within another query. The outer query is called as main query and inner query is called as subquery. The subquery must be enclosed with parenthesis and generally executes first, and its output is used to complete the query condition for the main or outer query. We will go through examples of how subqueries can be used to answers different types of questions then later, we will use our learnings to work on the challenges.

In [ ]:
%sql SELECT * FROM Countries LIMIT 5;

 * sqlite://
Done.

[('Albania', 2.9, 'no', 'yes'),
 ('Andorra', 0.07, 'no', 'no'),
 ('Austria', 8.57, 'yes', 'no'),
 ('Belarus', 9.48, 'no', 'no'),
 ('Belgium', 11.37, 'yes', 'yes')]

In [ ]:
%sql SELECT * FROM cities LIMIT 5;

 * sqlite://
Done.

[('Aalborg', 'Denmark', 57.03, 9.92, 7.52),
 ('Aberdeen', 'United Kingdom', 57.17, -2.08, 8.1),
 ('Abisko', 'Sweden', 63.35, 18.83, 0.2),
 ('Adana', 'Turkey', 36.99, 35.32, 18.67),
 ('Albacete', 'Spain', 39.0, -1.87, 12.62)]

In [ ]:
# Example 1
# Subqueries can occur in the select list of the containing query
# as shown below;
# Let's find all countries in the Countries table with no city in the Cities table
# 
%%sql
SELECT country
FROM Countries
WHERE NOT EXISTS (SELECT * FROM Cities
                  WHERE Cities.country = Countries.country)

 * sqlite://
Done.

[('Cyprus',), ('Iceland',), ('Kosovo',), ('Liechtenstein',), ('Luxembourg',)]

In [ ]:
# Example 2
# Find the European countries with cities experiencing temperature > 20?
# 
%%sql
SELECT country
FROM Countries
WHERE EU = 'yes'
AND EXISTS (SELECT * FROM Cities
            WHERE Cities.country = Countries.country
            AND temperature > 15)

 * sqlite://
Done.

[('Greece',), ('Italy',), ('Portugal',), ('Spain',)]

In [ ]:
# Example 3: Method 1
# Find the westernmost city, returning the city and longitude
# 
%%sql
SELECT city, longitude
FROM Cities C1
WHERE NOT EXISTS (SELECT * FROM Cities C2
                  WHERE C2.longitude < C1.longitude)

 * sqlite://
Done.

[('Lisbon', -9.14)]

In [ ]:
# Example 3: Method 2
# Find the westernmost city, returning the city and longitude
# 
%%sql
SELECT city, longitude
FROM Cities
WHERE longitude = (SELECT min(longitude) FROM Cities)

 * sqlite://
Done.

[('Lisbon', -9.14)]

In [ ]:
# Example 4:
# How many cities are in the EU?
# 
%%sql
SELECT count()
FROM Cities
WHERE country IN (SELECT country FROM Countries WHERE EU = 'yes')

 * sqlite://
Done.

[(150,)]

### <font color="green">1.2 Challenges</font>

In [ ]:
# Challenge 1
# Find number of countries that have a city with latitude > 1000 (start with country list)
# 
%%sql
SELECT COUNT(country) FROM countries WHERE EXISTS (SELECT * FROM cities WHERE cities.country = countries.country AND longitude > 1000)

 * sqlite://
Done.

[(0,)]

In [ ]:
# Challenge 2
# Find three western most cities returning both the cities and their longitude
#
%%sql
SELECT city, longitude FROM cities ORDER BY longitude ASC LIMIT 3;

 * sqlite://
Done.

[('Lisbon', -9.14), ('Galway', -9.05), ('Vigo', -8.73)]

In [ ]:
%%sql
SELECT avg(temperature)*1.5 FROM cities;

 * sqlite://
Done.

[(14.246760563380287,)]

In [ ]:
# Challenge 3
# Find cities with temperature is more than 50% higher than the average; 
# We will return the city, country, and temperature, ordered by descending temperature
# Hint: avg(temperature) * 1.5
# 
%%sql
SELECT city,temperature FROM cities WHERE temperature > (SELECT avg(temperature)*1.5 FROM cities)
ORDER BY temperature DESC;

 * sqlite://
Done.

[('Adana', 18.67),
 ('Palermo', 17.9),
 ('Athens', 17.41),
 ('Algeciras', 17.38),
 ('Cartagena', 17.32),
 ('Kalamata', 17.3),
 ('Marbella', 17.19),
 ('Huelva', 17.09),
 ('Patras', 16.9),
 ('Cosenza', 16.6),
 ('Messina', 16.54),
 ('Granada', 16.33),
 ('Valencia', 16.02),
 ('Trikala', 16.0),
 ('Barcelona', 15.78),
 ('Badajoz', 15.61),
 ('Lisbon', 15.52),
 ('Elbasan', 15.18),
 ('Bari', 15.15),
 ('Pescara', 15.13),
 ('Manisa', 15.1),
 ('Rome', 15.1),
 ('Catania', 15.04),
 ('Denizli', 15.02),
 ('Murcia', 15.0),
 ('Marseille', 14.98)]

In [ ]:
# Challenge 4
# How many cities are not in the EU and without a coastline?
# Hint: "not in"
# 
%%sql
SELECT COUNT(city) AS "Number of cities which are not in the EU and without a coastline"
FROM cities WHERE NOT EXISTS (SELECT * FROM Countries WHERE cities.country = Countries.country AND "EU" = 'no' AND "coastline" = 'no')

 * sqlite://
Done.

[(197,)]

In [ ]:
# Challenge 5
# Find the number of countries with no coastline and a city with longitude < 10
# 
%%sql
SELECT COUNT(country) FROM Countries
WHERE EXISTS (SELECT * FROM cities WHERE longitude<10) AND coastline = 'no';

 * sqlite://
Done.

[(13,)]

In [ ]:
# Challenge 6
# Find countries in Countries table with no city in Cities table
# 
# COMPLETE THE CODE BELOW

%%sql
SELECT country
FROM Countries
WHERE NOT EXISTS (SELECT * FROM Cities WHERE Cities.country = Countries.country);

 * sqlite://
Done.

[('Cyprus',), ('Iceland',), ('Kosovo',), ('Liechtenstein',), ('Luxembourg',)]

In [ ]:
# Challenge 7
# Find all cities in a country whose population is < 2, returning the city and country.
# 
%%sql
SELECT city, country FROM cities
WHERE EXISTS (SELECT * FROM Countries WHERE population < 2 AND cities.country = Countries.country);

 * sqlite://
Done.

[('Andorra', 'Andorra'),
 ('Daugavpils', 'Latvia'),
 ('Podgorica', 'Montenegro'),
 ('Riga', 'Latvia'),
 ('Tallinn', 'Estonia'),
 ('Tartu', 'Estonia')]

In [ ]:
# Challenge 8
# Find all countries with no city having a temperature > 6
# 
%%sql
SELECT country,temperature FROM cities
WHERE EXISTS (SELECT * FROM Countries WHERE cities.country = Countries.country)
AND temperature > 6 ORDER BY temperature ASC;

 * sqlite://
Done.

[('Lithuania', 6.05),
 ('Poland', 6.07),
 ('Belarus', 6.07),
 ('Belarus', 6.25),
 ('Sweden', 6.26),
 ('Ukraine', 6.28),
 ('United Kingdom', 6.4),
 ('Belarus', 6.42),
 ('Italy', 6.65),
 ('Ukraine', 6.67),
 ('Switzerland', 6.68),
 ('Poland', 6.68),
 ('Germany', 6.68),
 ('France', 6.68),
 ('Switzerland', 6.68),
 ('Belarus', 6.73),
 ('Ukraine', 6.76),
 ('Austria', 6.79),
 ('Ukraine', 6.88),
 ('Austria', 6.91),
 ('Romania', 6.97),
 ('Ukraine', 6.98),
 ('Lithuania', 7.0),
 ('Ukraine', 7.04),
 ('Ukraine', 7.06),
 ('Ukraine', 7.12),
 ('Poland', 7.14),
 ('Poland', 7.17),
 ('Ukraine', 7.19),
 ('Poland', 7.2),
 ('Poland', 7.29),
 ('Slovakia', 7.31),
 ('Sweden', 7.33),
 ('Germany', 7.4),
 ('United Kingdom', 7.43),
 ('Ukraine', 7.43),
 ('Romania', 7.51),
 ('Denmark', 7.52),
 ('Germany', 7.57),
 ('Poland', 7.66),
 ('Czech Republic', 7.66),
 ('Poland', 7.73),
 ('Denmark', 7.73),
 ('Czech Republic', 7.86),
 ('Austria', 7.86),
 ('Germany', 7.98),
 ('United Kingdom', 8.0),
 ('Germany', 8.05),
 ('Czech Republic', 8.05),
 ('Turkey', 8.05),
 ('Germany', 8.07),
 ('United Kingdom', 8.1),
 ('Germany', 8.14),
 ('Moldova', 8.23),
 ('Romania', 8.23),
 ('Germany', 8.26),
 ('Bulgaria', 8.27),
 ('Poland', 8.31),
 ('United Kingdom', 8.39),
 ('Switzerland', 8.4),
 ('France', 8.4),
 ('Germany', 8.47),
 ('United Kingdom', 8.48),
 ('Ireland', 8.49),
 ('Moldova', 8.6),
 ('United Kingdom', 8.6),
 ('Ukraine', 8.61),
 ('Germany', 8.63),
 ('Netherlands', 8.63),
 ('Ukraine', 8.64),
 ('Turkey', 8.67),
 ('France', 8.69),
 ('Ukraine', 8.7),
 ('Netherlands', 8.71),
 ('Germany', 8.72),
 ('Germany', 8.78),
 ('United Kingdom', 8.81),
 ('France', 8.82),
 ('Romania', 8.87),
 ('Hungary', 8.87),
 ('Germany', 8.88),
 ('France', 8.88),
 ('Turkey', 8.89),
 ('Netherlands', 8.93),
 ('Italy', 9.12),
 ('United Kingdom', 9.15),
 ('United Kingdom', 9.25),
 ('Slovenia', 9.27),
 ('Croatia', 9.27),
 ('Romania', 9.32),
 ('Serbia', 9.36),
 ('Macedonia', 9.36),
 ('France', 9.4),
 ('Ireland', 9.41),
 ('Hungary', 9.55),
 ('Andorra', 9.6),
 ('Bosnia and Herzegovina', 9.6),
 ('Slovakia', 9.65),
 ('Belgium', 9.65),
 ('Hungary', 9.65),
 ('France', 9.65),
 ('United Kingdom', 9.73),
 ('Romania', 9.78),
 ('Serbia', 9.85),
 ('Turkey', 9.86),
 ('France', 9.96),
 ('United Kingdom', 9.97),
 ('Montenegro', 9.99),
 ('Ireland', 10.0),
 ('Ukraine', 10.02),
 ('United Kingdom', 10.14),
 ('France', 10.17),
 ('France', 10.25),
 ('Turkey', 10.28),
 ('France', 10.32),
 ('Serbia', 10.34),
 ('Hungary', 10.34),
 ('Turkey', 10.41),
 ('Spain', 10.45),
 ('Romania', 10.51),
 ('Bulgaria', 10.51),
 ('Romania', 10.59),
 ('France', 10.59),
 ('Bulgaria', 10.59),
 ('Turkey', 10.64),
 ('Spain', 10.85),
 ('Turkey', 10.9),
 ('Bulgaria', 10.9),
 ('France', 10.95),
 ('France', 10.98),
 ('France', 11.02),
 ('Turkey', 11.11),
 ('France', 11.11),
 ('Turkey', 11.16),
 ('Spain', 11.19),
 ('Turkey', 11.21),
 ('Italy', 11.21),
 ('Romania', 11.24),
 ('Spain', 11.41),
 ('Spain', 11.63),
 ('Italy', 11.69),
 ('Italy', 11.7),
 ('France', 11.87),
 ('Turkey', 11.88),
 ('Turkey', 11.92),
 ('Bulgaria', 11.93),
 ('Turkey', 12.05),
 ('Croatia', 12.46),
 ('Turkey', 12.48),
 ('Spain', 12.62),
 ('Spain', 12.85),
 ('Italy', 12.94),
 ('Turkey', 13.02),
 ('Turkey', 13.2),
 ('Spain', 13.4),
 ('Portugal', 13.42),
 ('Turkey', 13.46),
 ('Italy', 13.52),
 ('Italy', 13.83),
 ('Turkey', 14.13),
 ('Turkey', 14.16),
 ('Spain', 14.17),
 ('France', 14.98),
 ('Spain', 15.0),
 ('Turkey', 15.02),
 ('Italy', 15.04),
 ('Turkey', 15.1),
 ('Italy', 15.1),
 ('Italy', 15.13),
 ('Italy', 15.15),
 ('Albania', 15.18),
 ('Portugal', 15.52),
 ('Spain', 15.61),
 ('Spain', 15.78),
 ('Greece', 16.0),
 ('Spain', 16.02),
 ('Spain', 16.33),
 ('Italy', 16.54),
 ('Italy', 16.6),
 ('Greece', 16.9),
 ('Spain', 17.09),
 ('Spain', 17.19),
 ('Greece', 17.3),
 ('Spain', 17.32),
 ('Spain', 17.38),
 ('Greece', 17.41),
 ('Italy', 17.9),
 ('Turkey', 18.67)]