<font color="green">*To start working on this notebook, or any other notebook that we will use in this course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Programming: For Loops

## 1.0 Overview

In [ ]:
# Example 1
# For loops are used to iterate over a sequence (i.e. list, dictionary, string etc.) 
# then perform some action.
# In this example, we will start to learn about for loops by iterating through a python list
# We will define this list as kenyan_football_players
#

# Defining our python list

kenyan_football_players = ["Victor Wanyama", "Michael Olunga", "McDonald Mariga"]

# printing the list out
print(kenyan_football_players)

# then using a for loop to iterate through the list
for x in kenyan_football_players:
          print(x)

# Let's look at what the above line of code does...
# The for loop goes inside the kenyan_football_players list, picks up the first element (which is Victor Wanyama), it then stores it in a temporary variable x. Once stored, it then prints out the value inside the variable x.
# After printing the value of x, it goes in the list again and picks the second element(this time it's Michael Olunga), it stores this element inside the variable x again but this  time it replaces the value of x that was stored the first time. After storing the new value of x, it goes ahead and print the new value of x.
# It repeats this process until all the elements in the list are printed out.
# The process of going through each element in a list is called iteration.
# Note: The x in the for loop, is only a temporary variable and you can name it anything you like (you are not limited to only using x).
# Please take note of the print statement in the above lines of code. You'll notice that its indented. This tells python that that line of code is inside the for loop hence its the body of the loop. What this means is that it should be executed every time the loop iterates through the list. 
# If we were to remove the indentation, then it would mean that the print statement is outside the for loop hence the loop would do nothing once it iterates through the list. Once we run the code it would display an error.

['Victor Wanyama', 'Michael Olunga', 'McDonald Mariga']
Victor Wanyama
Michael Olunga
McDonald Mariga

In [ ]:
# Example 2
# We can also create and iterate over a list called fruits
# from our learnings above

# Creating our python list
fruits = ["bananas", "grapes", "mangoes"]

# printing the list out
print(fruits)

# Use a for loop to iterate through the fruits list and print out each element in the list.
for f in fruits:
    print(f)

['bananas', 'grapes', 'mangoes']
bananas
grapes
mangoes

In [ ]:
# Example 3
# Let's now create a dictionary and iterate over it
# Looping through a dictionary is slightly different from looping through a list. This is because a dictionary is comprised of key-value pairs.
# There are several ways of looping through a dictionary. We will only look at a couple of them here

# Creating our dictionary
our_class = {
    'Name': '7 East', 
    'Students': 27, 
    'Wing': 'East'
}



# Looping through keys only
for x in our_class:
  print(x)

# This way of looping through a dictionary will only output the dictionary keys only. But what if we wanted to display the key value pair?
print("****************************************************") # separating the two ways of looping
# To be able to achieve this, we are going to make us of a python's dictionary in-built function .items(). This function will allow us to access the key-value pair at the same time.

for x,y in our_class.items():
  print(x,":", y)

# In the above lines of code, we are creating two temporary variables,x and y, where x is used to store the key element and y stores the value element. Then printing out the key-value pair of each dictionary elements.
# You can read more on how to loop through dictionaries here: https://realpython.com/iterate-through-dictionary-python/

Name
Students
Wing
****************************************************
Name : 7 East
Students : 27
Wing : East

### <font color="green">1.0 Challenges </font>

In [ ]:
# Challenge 1
# Given the dictionary below, use a for loop to iterate over it
#

# Creating our dictionary
stocks = {
    'Safaricom PLC': 146.48,
    'KCB':44.11,
    'National Bank':25.54
}

for x,y in stocks.items():
  print(x,":",y)

Safaricom PLC : 146.48
KCB : 44.11
National Bank : 25.54

In [ ]:
# Challenge 2
# Iterate over a list of dictionaries using a for loop
#

# Creating our list
values = [{"name": "Kevin", "food": "Chappati"}, 
          {"name": "Ruth", "food": "Pilau"}]

for x in values:
  for a,b in x.items():
    print(a,":",b)

name : Kevin
food : Chappati
name : Ruth
food : Pilau

In [ ]:
# Challenge 3 
# Write a program that stores the values in a dictionary and 
# finds the average of values entered by a user. 
# The user will enter 0 to indicate that no further values will be provided. 
# 
count = 1
sum = 0.0
values = {}
print("Input 0 if here are no further values to be provided")
for i in range(100000):
  print("Enter value: ", count)
  value = input("Input a value: ")
  if float(value) == 0:
    break
  elif float(value) > 0:
    values[count] = float(value)
    count+=1
    sum += float(value)

print("The values entered are shown below: ")
print(values)
average = sum/len(values)
print("The average of the value are: ",average)

Input 0 if here are no further values to be provided
Enter value:  1
Input a value: 6
Enter value:  2
Input a value: 8
Enter value:  3
Input a value: 0
The values entered are shown below:
{1: 6.0, 2: 8.0}
The average of the value are:  7.0

## 1.1 Looping Through a String

In [ ]:
# Example 1
# For loops can also used for iterating over a string as shown; 
# Iterating through the string "moringa"
# The logic behind it is pretty much the same as that of looping through lists.

for y in "moringa":
  print(y)

m
o
r
i
n
g
a

In [ ]:
# Example 2
# Lets iterate through your name below.
# Replace OUR CODE GOES HERE with you name;
#

for y in "Iain Mosima":
  print(y)

I
a
i
n

M
o
s
i
m
a

In [ ]:
# Example 3
# Iterate through the following string
# 

greetings = "Hello everyone!"

for g in greetings:
    print(g)

H
e
l
l
o

e
v
e
r
y
o
n
e
!

### <font color="green">1.1 Challenges</font>

In [ ]:
# Challenge 1
# Iterate through the string "Nairobi"
#
for w in "Nairobi":
  print(w)

N
a
i
r
o
b
i

In [ ]:
# Challenge 2
# Print out the characters that make up the value of fruit as shown
#

fruit = 'banana'

for x in fruit:
  print(x)

b
a
n
a
n
a

In [ ]:
# Challenge 3
# A user is prompted to provide a string (i.e. single or multiple strings) by the program.
# Create a program that tell us the number of times the letter "b" appears in the user inut. Upon determination the program should display the number of times the letter appears in the user input.
# For example, if the user inputs the string bubbles. The program should output a message like; The letter b has occured 3 times in your string. 
# 
# Hint: you will be required to use for loops and your knowledge of conditional statements to achieve the desired output.
#
count = 0
string = input("Input a string: ")
for x in string:
  if x == 'b':
    count += 1
print("The letter b has occured " +str(count)+ " times in your string")

Input a string: string bubbles
The letter b has occured 3 times in your string

## 1.2 The Break Statement

In [ ]:
# Example 1
# We can use the break statement to stop the loop before it continues iterating though all items;
# Using the fruits list we can stop the loop 
# before it continues iterating through all items by
#

fruits = ["bananas", "grapes", "mangoes"]

for x in fruits:
  print(x) 
  if x == "grapes":
    break

bananas
grapes

In [ ]:
# Example 2
# We can also use the break statement during the iteration of a string a shown
# 

for val in "Moringa School":
    if val == "i":
        break
    print(val)
print("The end")

M
o
r
The end

In [ ]:
# Example 3
# Iterating through a string and breaking whenever the no. 98 is found
# 
for num in [21, 29, 98, 20, 100, 13, 29]: 
   print(num)
   if(num == 98):
	   print("The number 98 is found") 
	   break

21
29
98
The number 98 is found

### <font color="green">1.2 Challenges</font>

In [ ]:
print(kenyan_football_players)

['Victor Wanyama', 'Michael Olunga', 'McDonald Mariga']

In [ ]:
# Challenge 1 
# Using the kenyan_football_players dictionary let's stop the loop 
# before it continues iterating through all items
# 
for name in kenyan_football_players:
    print(name)
    if name == 'Victor Wanyama':
      break

Victor Wanyama

In [ ]:
# Challenge 2
# When you run the following code it should output
# "Sum of first 5 integers is: 15"
# Correct the following for loop and a add a break statement to ensure that the program gives out the correct output
#

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] # Declaring the tuple
num_sum = 0
count = 0
for y in numbers:
    num_sum += y
    count = count + 1 
    if count == 5:
      break
        
print("Sum of first ",count,"integers is: ", num_sum)

Sum of first  5 integers is:  15

In [ ]:
# Example 3
# Sarova Nairobi determines the price of admission based on the age of the guest. 
# Guests that are 2 years of age or less are admitted without charge. 
# Children between 3 and 12 years of age are charged Ksh. 15,000 a night. 
# Seniors aged 65 years and over are charged Ksh. 18,000 a night.
# Admission for all other guests is Ksh. 25,000 a night.
# Create a program that begins by reading the ages of all of the guests 
# in a group from the user, with ones age entered on each line. 
# The user will enter a blank line to indicate that there are no more guests in the group. 
# Then your program should display the admission cost for the group with an appropriate message. 
# The cost should be displayed using two decimal places. 
# NB: You should use a for loop and a break statement in your program.
# 
sum = 0.00
count = 1
print("Input '_' if there are no other ages to be inputed")
for a in range(100):
  print("Input person " +str(count)+ " age")
  age = str(input())
  if age == '_':
    break
  elif int(age) <= 2:
    sum+=0.00
    count+=1
  elif int(age) >=3 and int(age) <=12:
    sum+=15000.00
    count+=1
  elif int(age) >=65:
    sum+=18000.00
    count+=1
  else:
    sum+=250000.00
    count+=1
count -=1
print("The number of members in the group are: ", count)
print("The admission cost for the group is: Ksh.",sum," for the night")

Input '_' if there are no other ages to be inputed
Input person 1 age
56
Input person 2 age
_
The number of members in the group are:  1
The admission cost for the group is: Ksh. 250000.0  for the night

## 1.3 The Continue Statement

In [ ]:
# Example 1
# Using the continue statement we can stop the current iteration of the loop, 
# and continue with the next section of our code as shown
#

fruits = ["dates", "coconut", "passion"]

for x in fruits:
  if x == "coconut":
    continue 
  print(x)

dates
passion

In [ ]:
# Example 2
# Iterating over a string
#

for val in "Moringa School":
    if val == "i":
        continue
    print(val)
print("The end")

M
o
r
n
g
a

S
c
h
o
o
l
The end

In [ ]:
# Example 3
# 
mobile_phone = ["samsung", "doogee", "iphone", "wiko", "LG", "Panasonic", "Sony"]

for x in mobile_phone:  
    if x == 'samsung' or x == 'iphone': 
         continue
    print ('Checked Phone :', x)

Checked Phone : doogee
Checked Phone : wiko
Checked Phone : LG
Checked Phone : Panasonic
Checked Phone : Sony

### <font color="green">1.3 Challanges</font>

In [ ]:
# Challenge 1
# Make changes to the code below to omit the month of July and August
# while displaying the no. of months
#

months = ["January ","February","March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

count = 0
for m in months:
  if m == 'July' or m == 'August':
    continue
  count+=1
  print(m)
print("The number of months are:", count)

January
February
March
April
May
June
September
October
November
December
The number of months are: 10

In [ ]:
# Challenge 2
# Let's print out a word if it doesn't have the letter "e"
# Use the continue statement in your program
#

names = ['Jane', 'June', 'Thomas']

for x in names:
  if "e" in x:
    continue
  print(x)

Thomas

In [ ]:
# Challenge 3
# Given the numbers list below, print out the even numbers using the continue statement
# Hint: use modulo %
# 

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
  if number%2 != 0:
    continue
  print(number)

2
4
6
8
10

## 1.4 The Range() Function

In [ ]:
# Example 1
# We iterate through a set of code a specified number of times using the range() function.
# Let's create a sequence of numbers from 0 to 5, and print each item in the sequence:
# 

for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
# Example 2
# What happens when we have two parameters?
# 

for i in range(3, 9):
  print(i)

3
4
5
6
7
8

In [ ]:
# Example 3
# What happens when we have three parameters as shown?
# 

for i in range(1, 20, 3):
  print(i)

1
4
7
10
13
16
19

### <font color="green">1.4 Challenges</font>

In [ ]:
# Challenge 1
# Create a sequence of numbers from 3 to 61, but increment by 5:
#
for x in range(1,61,5):
  print(x)

1
6
11
16
21
26
31
36
41
46
51
56

In [ ]:
# Challenge 2
# Create a program that prints out the even numbers within
# the range of 1 - 20
# 
for e in range(0,20,2):
  print(e)

0
2
4
6
8
10
12
14
16
18

In [ ]:
# Challenge 3
# Create a sequence of numbers from 5 to -30, decrementing by 5
# the range of 1 - 20
#
for w in range(5,-30, -5):
  print(w)

5
0
-5
-10
-15
-20
-25

## 1.5 Else

In [ ]:
# Example 1
# When the loop condition of "for" or "while" statement fails 
# then code part in "else" is executed as shown below
#

for x in range(6):
  print(x)
else:
  print("Finished!")

0
1
2
3
4
5
Finished!

In [ ]:
# Example 2
# In this example the code in the else block runs only 
# if the loop completes without encountering a break statement.
#

for i in range(3):
    password = input('Enter your password: ')
    if password == 'secret':
        print('You have guessed the password!')
        break
else:
    print('You have made 3 incorrect password attempts')

Enter your password: secret
You have guessed the password!

### <font color="green">1.5 Challanges</font>

In [ ]:
# Challenge 1
# Let us iterate through and print out all even numbers from the numbers list below 
# in the same order they are received. We are not allowed toprint any numbers 
# that come after 237 in the sequence.
# 

numbers = [ 951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]
for f in numbers:
  if f % 2 == 0:
    print(f)
  elif f == 237:
    break

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

In [ ]:
print(len(numbers))

100

In [ ]:
# Challenge 2
# Write a program to find whether there is a word with the letter z from the list below
#

my_list = ["bawk", "bagawk", "a", "aa", "aah", "aahed", "aahing", "aahs", "aal", "aalii", 
           "aaliis", "aals", "aardvark", "aardvarks", "aardwolf", "aardwolves", "aargh", 
           "aarrgh", "aarrghh", "aarti", "aartis", "aas", "aasvogel"]

for name in my_list:
    if "z" in name:
      print(name)
else:
  print("These are the names with letter z in them")

These are the names with letter z in them

## 1.6 Nested For Loops

In [ ]:
# Example 1
# You can use a loop inside another loop as shown below 
#

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
# Example 2
# Iterating over multi dimension list i.e. lists in a list
#

# Creating a persons list
persons = [['Monica', 40], ['Mary', 15], ['Miriam', 20]]
  
for person in persons: 
  for value in person: 
    print(value)

Monica
40
Mary
15
Miriam
20

### <font color="green">1.6 Challenges</font>

In [ ]:
# Challenge 1
# Iterate through the list of integers. In the outer loop, iterate through the numbers_list  
# and iterate through strings_list in the inner loop. 
# printing out 1 a b c 2 a b c 3 a b c
#

# Creating our lists
numbers_list = [1, 2, 3]
strings_list = ['a', 'b', 'c']

for number in numbers_list:
  for string in strings_list:
    print(number,string)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

In [ ]:

billionares = ['Jeff','Samuel','Donnah']       
cars = ['mercedes','porshe','hyundai'] 
numbers = [55, 24, 30]

for car in names:                       
  for names in cars:                       
    OUR CODE GOES HERE             
      print(name+" has "+str(number) OUR CODE GOES HERE)

In [ ]:
# Jeff has 55 mercedes
# Samuel with 24 porshe
# Donnah has 30 hyundai
billionares = ['Jeff','Samuel','Donnah']       
cars = ['mercedes','porshe','hyundai'] 
numbers = [55, 24, 30]

for name in billionares[0]:
    print(name)

AttributeError: ignored

In [ ]:
# Challenge 2
# Modify the code below to print out number of cars each of the billionares has 
# 

# Creating our lists
billionares = ['Jeff','Samuel','Donnah']       
cars = ['mercedes','porshe','hyundai'] 
numbers = [55, 24, 30]
for name in billionares:
  for car in cars:                                              
    for number in numbers:         
      print(name," has ",number,car)

Jeff  has  55 mercedes
Jeff  has  24 mercedes
Jeff  has  30 mercedes
Jeff  has  55 porshe
Jeff  has  24 porshe
Jeff  has  30 porshe
Jeff  has  55 hyundai
Jeff  has  24 hyundai
Jeff  has  30 hyundai
Samuel  has  55 mercedes
Samuel  has  24 mercedes
Samuel  has  30 mercedes
Samuel  has  55 porshe
Samuel  has  24 porshe
Samuel  has  30 porshe
Samuel  has  55 hyundai
Samuel  has  24 hyundai
Samuel  has  30 hyundai
Donnah  has  55 mercedes
Donnah  has  24 mercedes
Donnah  has  30 mercedes
Donnah  has  55 porshe
Donnah  has  24 porshe
Donnah  has  30 porshe
Donnah  has  55 hyundai
Donnah  has  24 hyundai
Donnah  has  30 hyundai

In [ ]:
billionares = ['Jeff','Samuel','Donnah']      
cars = ['mercedes','porshe','hyundai'] 
numbers = [55, 24, 30]
details = {
    'billionares' : ['Jeff','Samuel','Donnah'],
    'cars' : ['mercedes','porshe','hyundai'],
    'numbers' : [55, 24, 30]
}
for billionares,cars,numbers in details:

AttributeError: ignored

In [ ]:
# Challenge 3
# Come up with of a question you can ask your friends. 
# Create a dictionary where each key is a person's name, 
# and each value is that person's response to your question.
# Store more three thn responses in your dictionary 
# and use a for loop to print out each person's response
#
count = 1
responses = {}
print("To stop the program input 's'")
for i in range(100000):
  print("Input person number",count,"name")
  name = str(input("What is the person's name: "))
  if name == 's':
    break
  answer = str(input("What is the answer to the posed question: "))
  if answer == 's':
    break
  responses[name] = answer
  count+=1

print("The number of people in the group are: ", count-1)
print(responses)